body {
    background: #fefefe
}

.heading {
    color: #087F8C;
}

.sectionHeader, .diaryHeader {
    color: #134074;
}

.thirdHeader {
    color: #13315C;
}

.mainpageFooter {
    color: mediumseagreen;
    font-size: 20px
}

.undersite {
    background: #fefefe;
}

.undersiteHeader {
    color: red;
}
    .undersiteFooter {
        color: hotpink;
        font-style: italic;
    }
    .tworzeniehtml, .uczestnictwowkursie, .tworzeniecss, .tworzenieJavaScript {
        background: #fefefe;
    }
    .tworzeniehtmlHeader, .uczestnictwowkursieHeader, .tworzeniecssHeader, .javaScriptHeader {
        color: red;
    }
    .link {
        color: #74A57F;
    }