body {
    background: #fefefe
}

.heading {
    color: #087F8C;
}

.sectionHeader, .diaryHeader {
    color: #134074;
}

.thirdHeader {
    color: #13315C;
}

.mainpageFooter {
    color: mediumseagreen;
}

.undersite {
    background: #fefefe;
}

.undersiteHeader {
    color: red;
}

.undersiteFooter {
    color: hotpink;
    font-style: italic;
}

.tworzeniehtml, .uczestnictwowkursie, .tworzeniecss, .tworzenieJavaScript {
    background: #fefefe;
}

.tworzeniehtmlHeader, .uczestnictwowkursieHeader, .tworzeniecssHeader, .javaScriptHeader {
    color: red;
}

.link {
    color: #74A57F;
}
.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding-top: 38px;
}
.imageHtml {
    width: 100%;
    max-width: 200px;
    float: left;
    padding: -50px 30px 30px 30px;
    box-sizing: border-box;
}
.htmlFooter {
    text-align: right;
}
.navigation {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    background: white;
    text-decoration: none;




}
.top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: #74A57F;
    text-decoration: none;
}