.mainpage__body, .subpage__body, .day-1__body, .day-2__body, .day-3__body, .day-4__body {
    background-color: #ebebeb;
    background-image: linear-gradient(19deg, #ebebeb 0%, #99bdd8 100%);
}

.mainpage {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding-top: 38px;
}

.site-header {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    background: white;
    text-decoration: none;
}

.top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: #74A57F;
    text-decoration: none;
}

.navigation {}

.navigation__list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__item {
    display: block;
    margin: 0 16px;
}

.navigation__link {
    color: #74A57F;
    text-decoration: none;
}

.link {
    color: #74A57F;
    text-decoration: none;
}

.mainpage__header {
    color: #134074;
}

.about {}

.about__header {
    color: #134074;
}

.diary__header {
    color: #134074;
}

.day-1__header, .day-2__header, .day-3__header, .day-4__header {
    color: #13315C;
}

.mainpage__footer, color: #8499B1;
text-align: center;
}

.subpage__main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding-top: 38px;
}

.subpage__header {
    color: red;
    padding: 10px 0 0 0;
}

.subpage__article--footer {
    color: #8499B1;
    text-align: right;
    font-style: italic;
}

.subpage__footer {
    color: #8499B1;
    text-align: center;
}

.day-1__heading, .day-2__heading, .day-3__heading, .day-4__heading {
    color: red;
    text-align: center;
}

.day-1__main, .day-2__main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding-top: 38px;
}

.day-1__image, .day-2__image {
    width: 100%;
    max-width: 200px;
    float: left;
    padding: -50px 30px 30px 30px;
    box-sizing: border-box;
}

.day-1__article--footer, .day-2__article--footer {
    text-align: right;
}